* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*POLICES*/
@font-face {
    font-family: 'Ubuntu';
    src : url('fonts/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'UbuntuBold';
    src : url('fonts/Ubuntu-Bold.ttf') format('truetype')
}

body {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: white;
    text-align: center;
}

footer {
    background-color: #004c99;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 14px;
}

.logo {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.affichage {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
}

.carte h2,
.carte ul {
    margin: 20px;
}

.carte {
    width: 100%;
    height: 750px;
    background-color: #004c99;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    font-family: 'UbuntuBold', sans-serif;
}

.image {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

li {
    list-style-type: none;
    margin-bottom: 8px;
}

.description {
    margin-left: 4px;
}

a {
    color: rgb(167, 168, 255);
}

.switch-theme {
    width: 250px;
    height: 50px;
    border: none;
    color: white;
    background-color: #004c99;
    border-radius: 20px;
    font-size: 24px;
}

.switch-theme:hover {
    background-color: #003264;
}

/* Ajuste les dimentions de la grille de projets et du texte de la navbar pour les résolutions inférieures */
@media (min-width: 540px) {
    .carte { width: 500px; }
    footer { font-size: 24px; }
}

@media (min-width: 1000px) {
    .affichage { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1550px) {
    .affichage { grid-template-columns: repeat(3, 1fr); }
}

.body-dark {
    background-color: #001e3c;
}